// This file is imported in the common chunk
@import "rizzo-next/sass/core";

.PhotoPreview {
  img {
    display: block;
    height: 100%;
    width: auto;
  }
}

#step-1 {
  overflow: hidden;

  button {
    display: block;
    width: 50%;
    // height: calc(33vh - 59px);
    height: 27.9vh;
    float: left;
  }
}

.HomeComponent {
  text-align: center;

  ul {
    text-align: left;
  }

  li {
    border-top: 1px solid #e9edf0;
    padding: 14px 20px 12px;
  }

  .title {
    color: #2c3643;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.7;
  }

  .location {
    color: hsla(215,5%,56%,.5);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .02rem;
    line-height: 1.3;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.PageContainer {
  @include container;
  overflow: hidden;
  // margin-bottom: 11rem;
  // margin-top: 7.8rem;

  // @media (max-width: $min-768) {
  //   padding-left: 20px;
  //   padding-right: 20px;
  // }
}

// Specific override for Guides app banner
.branch-banner-is-active {
  margin-top: 0 !important; // override inline
  padding-top: 7.6rem;
}

.content-wrapper {
  position: relative;
}

// Wraps all content below the masthead
.page-container {
  position: relative;
  z-index: 5;
  background-color: #fff;
  transition: .3s opacity ease-in;
  outline: 0;

  .no-js &,
  &--ready {
    opacity: 1;
  }
}

// @TODO move to reset
// h1, h2, h3, h4, h5, h6 {
//   a {
//     @include link-transition;
//     color: currentColor;

//     &:hover,
//     &:active,
//     &:focus {
//       color: $color-blue;
//     }
//   }
// }

.clearfix {
  @include clearfix;
}

// -----------------------------------------------------------------------------
// Fix some CSS issues present with Rizzo Next components
// -----------------------------------------------------------------------------

// Compensates for missing autoprefixer in Rizzo Next build
select {
  -webkit-appearance: none;
  appearance: none;
}

// Height of footer logo is not constrained
.lp-global-footer .lp-logo {
  height: 47px;
}

// Social button icons aren't centered vertically
.lp-global-footer__social-link .svg-icon {
  top: 11px !important;
}
